version: '3.7'

services:
  apache:
    build: './apache'
    restart: always
    ports:
      - 8081:8081
      - 8443:8443
    networks: 
      - frontend
      - backend
    volumes:
      - ./public_html:/usr/local/apache2/htdocs
      - ./cert/:/usr/local/apache2/cert/
    depends_on:
      - php
  php:
    build: './php'
    restart: always
    networks: 
      - backend
    volumes:
      - ./public_html:/usr/local/apache2/htdocs
      - ./tmp:/usr/local/tmp
networks: 
  backend:
  frontend:
